@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url('../images/gym.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url('../images/gym.jpg');
    background-position: center;
  }
}

#review{
  height: 500px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.reviewContainer{
  width:1280px;
  margin:auto;
}
.reviewSubcontainer{
  width:85%;
  margin:auto;
}

@media(max-width:1280px){
  .reviewContainer{
    width:100%;
  }
}


/*chat button*/
#chatOpen{
  position: fixed;
  bottom:50px;
  right: 25px;
  z-index: 3;
}
/*chat box*/
#chatbox{
  width: 300px;
  height: 400px;
  position: fixed;
  bottom:40px;
  right: -600px;
  transition: all .5s;
  opacity: 0;
  z-index: 4;
  #chatClose{
    transition: all 0.2s;
  }
  #chatClose:hover{
    filter: invert(50%);
    cursor: pointer;
  }
  .chatSample{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ccc;
  }
  @media screen and (max-width:576px){
    width:100%;
  }
  @media screen and (max-height:400px) {
    height:calc(100vh - 50px);
  }
}
