@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url('../images/gym.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url('../images/gym.jpg');
    background-position: center;
  }
}

#review{
  height: 500px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.reviewContainer{
  width:1280px;
  margin:auto;
}
.reviewSubcontainer{
  width:85%;
  margin:auto;
}

@media(max-width:1280px){
  .reviewContainer{
    width:100%;
  }
}